// 리뷰 상세보기 박스 컴포넌트 디자인
@use '../root.scss';

.r-container {
  margin: 0.25rem 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.r-box {
  height: auto;
  border: 1.5px solid root.$main-blue;
  border-radius: 8px;
  padding: 20px;
}

.r-info {
  padding: 1.25rem;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.r-poster {
  width: 100px;
  height: auto;
}

.r-text {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.r-title {
  font-size: 22px;
  font-weight: 700;
  padding: 14px 0;
  text-align: right;
}

.r-date {
  color: root.$sub-gray;
  text-align: right;
}

.r-body {
  line-height: 1.8;
  padding: 20px;
}

// 좋아요 버튼 디자인
.r-actions {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  padding: 0 20px;

  .r-like-button,
  .r-share-button,
  .r-delete-button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: root.$main-blue;
    border: 1.2px solid root.$main-blue;
    border-radius: 8px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: root.$sub-gray;
      color: root.$sub-white;
      border: 1.2px solid root.$sub-gray;
    }

    svg {
      margin-right: 6px;
      font-size: 16px;
    }
  }

  .r-like-button.liked {
    color: root.$sub-white;
    background-color: root.$main-blue;
    border: 1.2px solid root.$main-blue;
  }
}

@media screen and (max-width: 768px) {
  .r-container {
    margin: 0;
  }
  .r-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .r-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .r-title {
    text-align: left;
  }
}
