// boxoffice rank box design
@use '../root.scss';

.rank-box {
  border: 1.5px solid root.$main-blue;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.rank {
  margin: 0 12px;
  font-size: 20px !important;
  font-weight: 700;
}
.rank-poster {
  width: 50px;
  height: auto;
  margin: 0 8px;
}
.rank-name {
  margin: 0 8px;
  font-size: 20px !important;
}
