// 리뷰 박스 디자인

@use '../root.scss';

.main-box {
  border: 1px solid root.$main-blue;
  padding: 1rem;
  display: flex;
  align-items: center;
}
.main-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-poster {width:unset !important;}
.main-movie-title {
  font-size: 16px;
}
.main-post-title {
  font-size: 18px;
  font-weight: 600;
}
.main-author {
  color: root.$sub-gray;
  font-size: 14px;
  justify-content: center;

  .traffic-light {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: linear-gradient(145deg, #f0f0f0, #d9d9d9);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

    &.good {
      background: linear-gradient(145deg, #4caf50, #388e3c);
    }

    &.neutral {
      background: linear-gradient(145deg, #ffeb3b, #fbc02d);
    }

    &.bad {
      background: linear-gradient(145deg, #f44336, #c62828);
    }
  }
}

.main-movie-title,
.main-post-title,
.main-author {
  margin: 4px;
}
