// 로그인 페이지 디자인
@use '../root.scss';

.lg-wrap {
  @include root.inner-size;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lg-title {
  font-size: 32px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.75rem 0;
  margin: 1.75rem 0;
}

// input area
.lg-input {
  width: 100%;
  max-width: 360px;
}
.lg-msg {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  padding-left: 10px;

  &.empty { color: root.$main-blue; }
  &.warning { color: root.$warning; }
  &.error { color: root.$error; }
  &.success { color: root.$NAVER;}
}