// 로그인 페이지 디자인
@use '../root.scss';

.lg-wrap {
  @include root.inner-size;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lg-title {
  font-size: 32px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.75rem 0;
  margin: 1.75rem 0;
}

// input area
.lg-input {
  width: 100%;
  max-width: 360px;
}
.lg-msg {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  padding-left: 10px;

  &.empty { color: root.$main-blue; }
  &.warning { color: root.$warning; }
  &.error { color: root.$error; }
  &.success { color: root.$NAVER;}
}

.login {
  font-size: 20px !important;
  padding: 16px 0 !important;
  font-weight: 600 !important;
  border-radius: 8px !important;
  background-color: root.$main-blue !important;
}

// btn area
.lg-btns {
  margin: 80px 50px;
  width: 100%;
  max-width: 360px;
  
  // 회원가입 이동 버튼
  .register {
    border: 1px solid root.$main-blue !important;
    font-size: 20px !important;
    padding: 16px 0 !important;
    font-weight: 600 !important;
    border-radius: 8px !important;
  }
}

