// 메인 페이지 디자인

@import '../root.scss';

.main-container {
  margin: 40px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 640px) {
    margin: 50px 30px;
    display: flex;
    align-items: center;
  }
}

.main-item {
  margin: 2rem 0;
  width: 100%;
}

.new,
.friends,
.boxoffice-title,
.event-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.main-item .banner {
  width: 100%;
  height: auto;
  display: block;
}

// swiper
.swiper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  flex: 0 0 auto; // 고정 너비 유지

  @media (max-width: 1200px) {
    width: 240px;
    height: calc((240px * 2) / 3);
  }

  @media (max-width: 992px) {
    width: 220px;
    height: calc((220px * 2) / 3);
  }

  @media (max-width: 768px) {
    width: 200px;
    height: calc((200px * 2) / 3);
  }

  @media (max-width: 576px) {
    width: 200px;
    height: calc((200px * 2) / 3);
  }
}

.swiper-wrapper {
  // box 겹침 방지
  display: flex;
  align-items: center;
  cursor: grab;
}
