// 리뷰 상세보기 페이지 디자인
@use '../root.scss';

.r-wrap {
  @include root.inner-size;
}

.r-back {
  left: 0;
}

.NotFound {
  margin: 90px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
}
