// 리뷰 작성하기 페이지 디자인
@import '../root.scss';

.write-container {
  @include inner-size;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.w-title {
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.75rem 0;
  margin: 1.75rem 0;
}

.inputarea {
  border: 1.5px solid $main-blue;
  border-radius: 8px;
  margin: 4px 0;
}

.title-area,
.body-area,
.date-area,
.url-area {
  margin: 12px 0;
}

.img-upload-area {
  margin: 12px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.ipt-title,
.ipt-url {
  width: 600px;
  height: 30px;
  padding: 8px 8px 8px 14px;
}
.ipt-body {
  height: 300px;
  width: 600px;
  padding: 12px;
}
.ipt-date {
  width: 300px;
  padding: 8px;
}

// 사진 추가 버튼 커스텀
.choose-img {
  width: 50px;
  text-align: center;
  border: 1.5px solid $main-blue;
  border-radius: 6px;
  padding: 6px;
  margin: 8px;
  cursor: pointer;
}
.choose-img:hover {
  background-color: $main-blue;
  color: $sub-white;
}
#ipt-img {
  display: none;
}

// image preview
.img-preview-area {
  display: flex;
}
.img-preview {
  width: 100px;
  margin: 0 12px;
}
.img-delete {
  padding: 6px;
  margin: 0 8px;
  width: 50px;
  height: 36px;
  text-align: center;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: rgb(197, 197, 197);
}
.img-delete:hover {
  background-color: $sub-gray;
  color: $sub-white;
}

// toggle btn
.write-toggle {
  margin: 28px 0;
}
.tg-btn {
  display: flex;
  margin: 12px 0;
}

.apply {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0;
}
.apply-btn {
  font-size: 1.125rem;
  background-color: $main-blue;
  color: $sub-white;
  border: none;
  border-radius: 8px;
  padding: 1.25rem;
  width: 18.75rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .ipt-title,
  .ipt-body,
  .ipt-url {
    width: 320px;
  }
  .ipt-date {
    width: 240px;
  }
}
