// root.scss

$main-blue: #1e90ff;
$sub-white: #ffffff;
$sub-gray: #6b6b6b;

$empty: #1261ff;
$warning: #e49800;
$error: #ff4d4f;

$KAKAO: #ffcd00;
$NAVER: #03c75a;

@font-face {
  font-family: 'Pretendard';
  src: url('../../public/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

@mixin inner-size {
  margin: 5.625rem 2.5rem;
  height: auto;
}

@mixin size {
  width: 300px;
  height: calc((300px * 2) / 3);

  @media (max-width: 1200px) {
    width: 270px;
    height: calc((270px * 2) / 3);
  }

  @media (max-width: 992px) {
    width: 250px;
    height: calc((250px * 2) / 3);
  }

  @media (max-width: 768px) {
    width: 220px;
    height: calc((220px * 2) / 3);
  }

  @media (max-width: 576px) {
    width: 250px;
    height: calc((250px * 2) / 3);
  }
}

.mySwiper {
  padding: 10px 0px;
  margin: 0px 6px;

  &.swiper-slide {
    display: flex;
    justify-content: center;
  }
}