// 스포일러 포함, 비공개 여부 - 토글 스위치

@use '../root.scss';

.toggle-switch {
  width: 50px;
  height: 25px;
  background-color: root.$sub-gray;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.switch {
  // 내부 버튼 크기
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 3.5px;
  left: 3.5px;
  transition: left 0.3s;
}

.toggle-switch.on {
  background-color: root.$main-blue;
}

.toggle-switch.on .switch {
  left: 26px;
}
