// header
@import '../root.scss';

.header {
  border-bottom: 1.5px solid $main-blue;
  font-weight: 500;
  padding: 0.25rem 3.75rem;
  font-size: 0.875rem;
  height: 3.75rem;

  @media (max-width: 640px) {
    padding: 0.25rem 1.25rem;
    display: flex;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 640px) {
    width: 100%;
    justify-content: space-between;
  }
}

.logo {
  width: 9.375rem;

  @media (max-width: 640px) {
    // 640 이하 로고 크기 변경
    width: 7.5rem;
    display: flex;
    align-items: center;
    margin-right: 32px;
  }
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.25rem 0;
  min-width: 4.0625rem;

  @media (max-width: 640px) {
    min-width: 45px;
  }
}

.header-link {
  text-decoration: none;
  color: $main-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    color: $sub-gray;
  }
}

.icon {
  @media (max-width: 480px) {
    width: 1.875rem;
    height: 1.875rem;
  }
}

.header-txt {
  margin: 4px 0;

  @media (max-width: 640px) {
    // 640 이하 텍스트 숨김
    display: none;
  }
}
